
.tw-bs {
}
.tw-bs article, .tw-bs aside, .tw-bs details, .tw-bs figcaption, .tw-bs figure, .tw-bs footer, .tw-bs header, .tw-bs hgroup, .tw-bs nav, .tw-bs section {
    display: block;
}
.tw-bs audio, .tw-bs canvas, .tw-bs video {
    display: inline-block;
}
.tw-bs audio:not([controls]) {
    display: none;
}
.tw-bs html {
    font-size: 100%;
}
.tw-bs a:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}
.tw-bs a:hover, .tw-bs a:active {
    outline: 0 none;
}
.tw-bs sub, .tw-bs sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.tw-bs sup {
    top: -0.5em;
}
.tw-bs sub {
    bottom: -0.25em;
}
.tw-bs img {
    border: 0 none;
    max-width: 100%;
    vertical-align: middle;
}
.tw-bs #map_canvas img {
    max-width: none;
}
.tw-bs button, .tw-bs input, .tw-bs select, .tw-bs textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
.tw-bs button, .tw-bs input {
    line-height: normal;
}
.tw-bs button::-moz-focus-inner, .tw-bs input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.tw-bs button, .tw-bs input[type="button"], .tw-bs input[type="reset"], .tw-bs input[type="submit"] {
    cursor: pointer;
}
.tw-bs input[type="search"] {
    box-sizing: content-box;
}
.tw-bs textarea {
    overflow: auto;
    vertical-align: top;
}
.tw-bs .clearfix {
}
.tw-bs .clearfix::before, .tw-bs .clearfix::after {
    content: "";
    display: table;
}
.tw-bs .clearfix::after {
    clear: both;
}
.tw-bs .hide-text {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
.tw-bs .input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 28px;
    width: 100%;
}
.tw-bs body {
    background-color: #ffffff;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
.tw-bs a {
    color: #0088cc;
    text-decoration: none;
}
.tw-bs a:hover {
    color: #005580;
    text-decoration: underline;
}
.tw-bs .row {
    margin-left: -20px;
}
.tw-bs .row::before, .tw-bs .row::after {
    content: "";
    display: table;
}
.tw-bs .row::after {
    clear: both;
}
.tw-bs [class*="span"] {
    float: left;
    margin-left: 20px;
}
.tw-bs .container, .tw-bs .navbar-fixed-top .container, .tw-bs .navbar-fixed-bottom .container {
    width: 940px;
}
.tw-bs .span12 {
    width: 940px;
}
.tw-bs .span11 {
    width: 860px;
}
.tw-bs .span10 {
    width: 780px;
}
.tw-bs .span9 {
    width: 700px;
}
.tw-bs .span8 {
    width: 620px;
}
.tw-bs .span7 {
    width: 540px;
}
.tw-bs .span6 {
    width: 460px;
}
.tw-bs .span5 {
    width: 380px;
}
.tw-bs .span4 {
    width: 300px;
}
.tw-bs .span3 {
    width: 220px;
}
.tw-bs .span2 {
    width: 140px;
}
.tw-bs .span1 {
    width: 60px;
}
.tw-bs .offset12 {
    margin-left: 980px;
}
.tw-bs .offset11 {
    margin-left: 900px;
}
.tw-bs .offset10 {
    margin-left: 820px;
}
.tw-bs .offset9 {
    margin-left: 740px;
}
.tw-bs .offset8 {
    margin-left: 660px;
}
.tw-bs .offset7 {
    margin-left: 580px;
}
.tw-bs .offset6 {
    margin-left: 500px;
}
.tw-bs .offset5 {
    margin-left: 420px;
}
.tw-bs .offset4 {
    margin-left: 340px;
}
.tw-bs .offset3 {
    margin-left: 260px;
}
.tw-bs .offset2 {
    margin-left: 180px;
}
.tw-bs .offset1 {
    margin-left: 100px;
}
.tw-bs .row-fluid {
    width: 100%;
}
.tw-bs .row-fluid::before, .tw-bs .row-fluid::after {
    content: "";
    display: table;
}
.tw-bs .row-fluid::after {
    clear: both;
}
.tw-bs .row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.12766%;
    min-height: 28px;
    width: 100%;
}
.tw-bs .row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.tw-bs .row-fluid .span12 {
    width: 100%;
}
.tw-bs .row-fluid .span11 {
    width: 91.4894%;
}
.tw-bs .row-fluid .span10 {
    width: 82.9787%;
}
.tw-bs .row-fluid .span9 {
    width: 74.4681%;
}
.tw-bs .row-fluid .span8 {
    width: 65.9574%;
}
.tw-bs .row-fluid .span7 {
    width: 57.4468%;
}
.tw-bs .row-fluid .span6 {
    width: 48.9362%;
}
.tw-bs .row-fluid .span5 {
    width: 40.4255%;
}
.tw-bs .row-fluid .span4 {
    width: 31.9149%;
}
.tw-bs .row-fluid .span3 {
    width: 23.4043%;
}
.tw-bs .row-fluid .span2 {
    width: 14.8936%;
}
.tw-bs .row-fluid .span1 {
    width: 6.38298%;
}
.tw-bs .container {
    margin-left: auto;
    margin-right: auto;
}
.tw-bs .container::before, .tw-bs .container::after {
    content: "";
    display: table;
}
.tw-bs .container::after {
    clear: both;
}
.tw-bs .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}
.tw-bs .container-fluid::before, .tw-bs .container-fluid::after {
    content: "";
    display: table;
}
.tw-bs .container-fluid::after {
    clear: both;
}
.tw-bs p {
    margin: 0 0 9px;
}
.tw-bs p small {
    color: #999999;
    font-size: 11px;
}
.tw-bs .lead {
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
    margin-bottom: 18px;
}
.tw-bs h1, .tw-bs h2, .tw-bs h3, .tw-bs h4, .tw-bs h5, .tw-bs h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
    text-rendering: optimizelegibility;
}
.tw-bs h1 small, .tw-bs h2 small, .tw-bs h3 small, .tw-bs h4 small, .tw-bs h5 small, .tw-bs h6 small {
    color: #999999;
    font-weight: normal;
}
.tw-bs h1 {
    font-size: 30px;
    line-height: 36px;
}
.tw-bs h1 small {
    font-size: 18px;
}
.tw-bs h2 {
    font-size: 24px;
    line-height: 36px;
}
.tw-bs h2 small {
    font-size: 18px;
}
.tw-bs h3 {
    font-size: 18px;
    line-height: 27px;
}
.tw-bs h3 small {
    font-size: 14px;
}
.tw-bs h4, .tw-bs h5, .tw-bs h6 {
    line-height: 18px;
}
.tw-bs h4 {
    font-size: 14px;
}
.tw-bs h4 small {
    font-size: 12px;
}
.tw-bs h5 {
    font-size: 12px;
}
.tw-bs h6 {
    color: #999999;
    font-size: 11px;
    text-transform: uppercase;
}
.tw-bs .page-header {
    border-bottom: 1px solid #eeeeee;
    margin: 18px 0;
    padding-bottom: 17px;
}
.tw-bs .page-header h1 {
    line-height: 1;
}
.tw-bs ul, .tw-bs ol {
    margin: 0 0 9px 25px;
    padding: 0;
}
.tw-bs ul ul, .tw-bs ul ol, .tw-bs ol ol, .tw-bs ol ul {
    margin-bottom: 0;
}
.tw-bs ul {
    list-style: outside none disc;
}
.tw-bs ol {
    list-style: outside none decimal;
}
.tw-bs li {
    line-height: 18px;
}
.tw-bs ul.unstyled, .tw-bs ol.unstyled {
    list-style: outside none none;
    margin-left: 0;
}
.tw-bs dl {
    margin-bottom: 18px;
}
.tw-bs dt, .tw-bs dd {
    line-height: 18px;
}
.tw-bs dt {
    font-weight: bold;
    line-height: 17px;
}
.tw-bs dd {
    margin-left: 9px;
}
.tw-bs .dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}
.tw-bs .dl-horizontal dd {
    margin-left: 130px;
}
.tw-bs hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eeeeee -moz-use-text-color #ffffff;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}
.tw-bs strong {
    font-weight: bold;
}
.tw-bs em {
    font-style: italic;
}
.tw-bs .muted {
    color: #999999;
}
.tw-bs abbr[title] {
    border-bottom: 1px dotted #999999;
    cursor: help;
}
.tw-bs abbr.initialism {
    font-size: 90%;
    text-transform: uppercase;
}
.tw-bs blockquote {
    border-left: 5px solid #eeeeee;
    margin: 0 0 18px;
    padding: 0 0 0 15px;
}
.tw-bs blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22.5px;
    margin-bottom: 0;
}
.tw-bs blockquote small {
    color: #999999;
    display: block;
    line-height: 18px;
}
.tw-bs blockquote small::before {
    content: "— ";
}
.tw-bs blockquote.pull-right {
    border-left: 0 none;
    border-right: 5px solid #eeeeee;
    float: right;
    padding-left: 0;
    padding-right: 15px;
}
.tw-bs blockquote.pull-right p, .tw-bs blockquote.pull-right small {
    text-align: right;
}
.tw-bs q::before, .tw-bs q::after, .tw-bs blockquote::before, .tw-bs blockquote::after {
    content: "";
}
.tw-bs address {
    display: block;
    font-style: normal;
    line-height: 18px;
    margin-bottom: 18px;
}
.tw-bs small {
    font-size: 100%;
}
.tw-bs cite {
    font-style: normal;
}
.tw-bs code, .tw-bs pre {
    border-radius: 3px;
    color: #333333;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}
.tw-bs code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #d14;
    padding: 2px 4px;
}
.tw-bs pre {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    font-size: 12.025px;
    line-height: 18px;
    margin: 0 0 9px;
    padding: 8.5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
.tw-bs pre.prettyprint {
    margin-bottom: 18px;
}
.tw-bs pre code {
    background-color: transparent;
    border: 0 none;
    color: inherit;
    padding: 0;
}
.tw-bs .pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
.tw-bs form {
    margin: 0 0 18px;
}
.tw-bs fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.tw-bs legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 19.5px;
    line-height: 36px;
    margin-bottom: 27px;
    padding: 0;
    width: 100%;
}
.tw-bs legend small {
    color: #999999;
    font-size: 13.5px;
}
.tw-bs label, .tw-bs input, .tw-bs button, .tw-bs select, .tw-bs textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
.tw-bs input, .tw-bs button, .tw-bs select, .tw-bs textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tw-bs label {
    display: block;
    margin-bottom: 5px;
}
.tw-bs select, .tw-bs textarea, .tw-bs input[type="text"], .tw-bs input[type="password"], .tw-bs input[type="datetime"], .tw-bs input[type="datetime-local"], .tw-bs input[type="date"], .tw-bs input[type="month"], .tw-bs input[type="time"], .tw-bs input[type="week"], .tw-bs input[type="number"], .tw-bs input[type="email"], .tw-bs input[type="url"], .tw-bs input[type="search"], .tw-bs input[type="tel"], .tw-bs input[type="color"], .tw-bs .uneditable-input {
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
}
.tw-bs input, .tw-bs textarea {
    width: 210px;
}
.tw-bs textarea {
    height: auto;
}
.tw-bs textarea, .tw-bs input[type="text"], .tw-bs input[type="password"], .tw-bs input[type="datetime"], .tw-bs input[type="datetime-local"], .tw-bs input[type="date"], .tw-bs input[type="month"], .tw-bs input[type="time"], .tw-bs input[type="week"], .tw-bs input[type="number"], .tw-bs input[type="email"], .tw-bs input[type="url"], .tw-bs input[type="search"], .tw-bs input[type="tel"], .tw-bs input[type="color"], .tw-bs .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.tw-bs textarea:focus, .tw-bs input[type="text"]:focus, .tw-bs input[type="password"]:focus, .tw-bs input[type="datetime"]:focus, .tw-bs input[type="datetime-local"]:focus, .tw-bs input[type="date"]:focus, .tw-bs input[type="month"]:focus, .tw-bs input[type="time"]:focus, .tw-bs input[type="week"]:focus, .tw-bs input[type="number"]:focus, .tw-bs input[type="email"]:focus, .tw-bs input[type="url"]:focus, .tw-bs input[type="search"]:focus, .tw-bs input[type="tel"]:focus, .tw-bs input[type="color"]:focus, .tw-bs .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.tw-bs input[type="radio"], .tw-bs input[type="checkbox"] {
    cursor: pointer;
    line-height: normal;
    margin: 3px 0;
}
.tw-bs input[type="submit"], .tw-bs input[type="reset"], .tw-bs input[type="button"], .tw-bs input[type="radio"], .tw-bs input[type="checkbox"] {
    width: auto;
}
.tw-bs .uneditable-textarea {
    height: auto;
    width: auto;
}
.tw-bs select, .tw-bs input[type="file"] {
    height: 28px;
    line-height: 28px;
}
.tw-bs select {
    border: 1px solid #bbb;
    width: 220px;
}
.tw-bs select[multiple], .tw-bs select[size] {
    height: auto;
}
.tw-bs select:focus, .tw-bs input[type="file"]:focus, .tw-bs input[type="radio"]:focus, .tw-bs input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}
.tw-bs .radio, .tw-bs .checkbox {
    min-height: 18px;
    padding-left: 18px;
}
.tw-bs .radio input[type="radio"], .tw-bs .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -18px;
}
.tw-bs .controls > .radio:first-child, .tw-bs .controls > .checkbox:first-child {
    padding-top: 5px;
}
.tw-bs .radio.inline, .tw-bs .checkbox.inline {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 5px;
    vertical-align: middle;
}
.tw-bs .radio.inline + .radio.inline, .tw-bs .checkbox.inline + .checkbox.inline {
    margin-left: 10px;
}
.tw-bs .input-mini {
    width: 60px;
}
.tw-bs .input-small {
    width: 90px;
}
.tw-bs .input-medium {
    width: 150px;
}
.tw-bs .input-large {
    width: 210px;
}
.tw-bs .input-xlarge {
    width: 270px;
}
.tw-bs .input-xxlarge {
    width: 530px;
}
.tw-bs input[class*="span"], .tw-bs select[class*="span"], .tw-bs textarea[class*="span"], .tw-bs .uneditable-input[class*="span"], .tw-bs .row-fluid input[class*="span"], .tw-bs .row-fluid select[class*="span"], .tw-bs .row-fluid textarea[class*="span"], .tw-bs .row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0;
}
.tw-bs .input-append input[class*="span"], .tw-bs .input-append .uneditable-input[class*="span"], .tw-bs .input-prepend input[class*="span"], .tw-bs .input-prepend .uneditable-input[class*="span"], .tw-bs .row-fluid .input-prepend [class*="span"], .tw-bs .row-fluid .input-append [class*="span"] {
    display: inline-block;
}
.tw-bs input, .tw-bs textarea, .tw-bs .uneditable-input {
    margin-left: 0;
}
.tw-bs input.span12, textarea.span12, .uneditable-input.span12 {
    width: 930px;
}
.tw-bs input.span11, textarea.span11, .uneditable-input.span11 {
    width: 850px;
}
.tw-bs input.span10, textarea.span10, .uneditable-input.span10 {
    width: 770px;
}
.tw-bs input.span9, textarea.span9, .uneditable-input.span9 {
    width: 690px;
}
.tw-bs input.span8, textarea.span8, .uneditable-input.span8 {
    width: 610px;
}
.tw-bs input.span7, textarea.span7, .uneditable-input.span7 {
    width: 530px;
}
.tw-bs input.span6, textarea.span6, .uneditable-input.span6 {
    width: 450px;
}
.tw-bs input.span5, textarea.span5, .uneditable-input.span5 {
    width: 370px;
}
.tw-bs input.span4, textarea.span4, .uneditable-input.span4 {
    width: 290px;
}
.tw-bs input.span3, textarea.span3, .uneditable-input.span3 {
    width: 210px;
}
.tw-bs input.span2, textarea.span2, .uneditable-input.span2 {
    width: 130px;
}
.tw-bs input.span1, textarea.span1, .uneditable-input.span1 {
    width: 50px;
}
.tw-bs input[disabled], .tw-bs select[disabled], .tw-bs textarea[disabled], .tw-bs input[readonly], .tw-bs select[readonly], .tw-bs textarea[readonly] {
    background-color: #eeeeee;
    border-color: #ddd;
    cursor: not-allowed;
}
.tw-bs input[type="radio"][disabled], .tw-bs input[type="checkbox"][disabled], .tw-bs input[type="radio"][readonly], .tw-bs input[type="checkbox"][readonly] {
    background-color: transparent;
}
.tw-bs .control-group.warning > label, .tw-bs .control-group.warning .help-block, .tw-bs .control-group.warning .help-inline {
    color: #c09853;
}
.tw-bs .control-group.warning .checkbox, .tw-bs .control-group.warning .radio, .tw-bs .control-group.warning input, .tw-bs .control-group.warning select, .tw-bs .control-group.warning textarea {
    border-color: #c09853;
    color: #c09853;
}
.tw-bs .control-group.warning .checkbox:focus, .tw-bs .control-group.warning .radio:focus, .tw-bs .control-group.warning input:focus, .tw-bs .control-group.warning select:focus, .tw-bs .control-group.warning textarea:focus {
    border-color: #a47e3c;
    box-shadow: 0 0 6px #dbc59e;
}
.tw-bs .control-group.warning .input-prepend .add-on, .tw-bs .control-group.warning .input-append .add-on {
    background-color: #fcf8e3;
    border-color: #c09853;
    color: #c09853;
}
.tw-bs .control-group.error > label, .tw-bs .control-group.error .help-block, .tw-bs .control-group.error .help-inline {
    color: #b94a48;
}
.tw-bs .control-group.error .checkbox, .tw-bs .control-group.error .radio, .tw-bs .control-group.error input, .tw-bs .control-group.error select, .tw-bs .control-group.error textarea {
    border-color: #b94a48;
    color: #b94a48;
}
.tw-bs .control-group.error .checkbox:focus, .tw-bs .control-group.error .radio:focus, .tw-bs .control-group.error input:focus, .tw-bs .control-group.error select:focus, .tw-bs .control-group.error textarea:focus {
    border-color: #953b39;
    box-shadow: 0 0 6px #d59392;
}
.tw-bs .control-group.error .input-prepend .add-on, .tw-bs .control-group.error .input-append .add-on {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
}
.tw-bs .control-group.success > label, .tw-bs .control-group.success .help-block, .tw-bs .control-group.success .help-inline {
    color: #468847;
}
.tw-bs .control-group.success .checkbox, .tw-bs .control-group.success .radio, .tw-bs .control-group.success input, .tw-bs .control-group.success select, .tw-bs .control-group.success textarea {
    border-color: #468847;
    color: #468847;
}
.tw-bs .control-group.success .checkbox:focus, .tw-bs .control-group.success .radio:focus, .tw-bs .control-group.success input:focus, .tw-bs .control-group.success select:focus, .tw-bs .control-group.success textarea:focus {
    border-color: #356635;
    box-shadow: 0 0 6px #7aba7b;
}
.tw-bs .control-group.success .input-prepend .add-on, .tw-bs .control-group.success .input-append .add-on {
    background-color: #dff0d8;
    border-color: #468847;
    color: #468847;
}
.tw-bs input:focus:required:invalid, .tw-bs textarea:focus:required:invalid, .tw-bs select:focus:required:invalid {
    border-color: #ee5f5b;
    color: #b94a48;
}
.tw-bs input:focus:required:invalid:focus, .tw-bs textarea:focus:required:invalid:focus, .tw-bs select:focus:required:invalid:focus {
    border-color: #e9322d;
    box-shadow: 0 0 6px #f8b9b7;
}
.tw-bs .form-actions {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 17px 20px 18px;
}
.tw-bs .form-actions::before, .tw-bs .form-actions::after {
    content: "";
    display: table;
}
.tw-bs .form-actions::after {
    clear: both;
}
.tw-bs .uneditable-input {
    background-color: #ffffff;
    border-color: #eee;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.024) inset;
    cursor: not-allowed;
    overflow: hidden;
    white-space: nowrap;
}
.tw-bs:-moz-placeholder {
    color: #999999;
}
.tw-bs .help-block, .tw-bs .help-inline {
    color: #555555;
}
.tw-bs .help-block {
    display: block;
    margin-bottom: 9px;
}
.tw-bs .help-inline {
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
}
.tw-bs .input-prepend, .tw-bs .input-append {
    margin-bottom: 5px;
}
.tw-bs .input-prepend input, .tw-bs .input-append input, .tw-bs .input-prepend select, .tw-bs .input-append select, .tw-bs .input-prepend .uneditable-input, .tw-bs .input-append .uneditable-input {
    border-radius: 0 3px 3px 0;
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
}
.tw-bs .input-prepend input:focus, .tw-bs .input-append input:focus, .tw-bs .input-prepend select:focus, .tw-bs .input-append select:focus, .tw-bs .input-prepend .uneditable-input:focus, .tw-bs .input-append .uneditable-input:focus {
    z-index: 2;
}
.tw-bs .input-prepend .uneditable-input, .tw-bs .input-append .uneditable-input {
    border-left-color: #ccc;
}
.tw-bs .input-prepend .add-on, .tw-bs .input-append .add-on {
    background-color: #eeeeee;
    border: 1px solid #ccc;
    display: inline-block;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    vertical-align: middle;
    width: auto;
}
.tw-bs .input-prepend .add-on, .tw-bs .input-append .add-on, .tw-bs .input-prepend .btn, .tw-bs .input-append .btn {
    border-radius: 0;
    margin-left: -1px;
}
.tw-bs .input-prepend .active, .tw-bs .input-append .active {
    background-color: #a9dba9;
    border-color: #46a546;
}
.tw-bs .input-prepend .add-on, .tw-bs .input-prepend .btn {
    margin-right: -1px;
}
.tw-bs .input-prepend .add-on:first-child, .tw-bs .input-prepend .btn:first-child {
    border-radius: 3px 0 0 3px;
}
.tw-bs .input-append input, .tw-bs .input-append select, .tw-bs .input-append .uneditable-input {
    border-radius: 3px 0 0 3px;
}
.tw-bs .input-append .uneditable-input {
    border-left-color: #eee;
    border-right-color: #ccc;
}
.tw-bs .input-append .add-on:last-child, .tw-bs .input-append .btn:last-child {
    border-radius: 0 3px 3px 0;
}
.tw-bs .input-prepend.input-append input, .tw-bs .input-prepend.input-append select, .tw-bs .input-prepend.input-append .uneditable-input {
    border-radius: 0;
}
.tw-bs .input-prepend.input-append .add-on:first-child, .tw-bs .input-prepend.input-append .btn:first-child {
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
}
.tw-bs .input-prepend.input-append .add-on:last-child, .tw-bs .input-prepend.input-append .btn:last-child {
    border-radius: 0 3px 3px 0;
    margin-left: -1px;
}
.tw-bs .search-query {
    border-radius: 14px;
    margin-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
}
.tw-bs .form-search input, .tw-bs .form-inline input, .tw-bs .form-horizontal input, .tw-bs .form-search textarea, .tw-bs .form-inline textarea, .tw-bs .form-horizontal textarea, .tw-bs .form-search select, .tw-bs .form-inline select, .tw-bs .form-horizontal select, .tw-bs .form-search .help-inline, .tw-bs .form-inline .help-inline, .tw-bs .form-horizontal .help-inline, .tw-bs .form-search .uneditable-input, .tw-bs .form-inline .uneditable-input, .tw-bs .form-horizontal .uneditable-input, .tw-bs .form-search .input-prepend, .tw-bs .form-inline .input-prepend, .tw-bs .form-horizontal .input-prepend, .tw-bs .form-search .input-append, .tw-bs .form-inline .input-append, .tw-bs .form-horizontal .input-append {
    display: inline-block;
    margin-bottom: 0;
}
.tw-bs .form-search .hide, .tw-bs .form-inline .hide, .tw-bs .form-horizontal .hide {
    display: none;
}
.tw-bs .form-search label, .tw-bs .form-inline label {
    display: inline-block;
}
.tw-bs .form-search .input-append, .tw-bs .form-inline .input-append, .tw-bs .form-search .input-prepend, .tw-bs .form-inline .input-prepend {
    margin-bottom: 0;
}
.tw-bs .form-search .radio, .tw-bs .form-search .checkbox, .tw-bs .form-inline .radio, .tw-bs .form-inline .checkbox {
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
}
.tw-bs .form-search .radio input[type="radio"], .tw-bs .form-search .checkbox input[type="checkbox"], .tw-bs .form-inline .radio input[type="radio"], .tw-bs .form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0;
    margin-right: 3px;
}
.tw-bs .control-group {
    margin-bottom: 9px;
}
.tw-bs legend + .control-group {
    margin-top: 18px;
}
.tw-bs .form-horizontal .control-group {
    margin-bottom: 18px;
}
.tw-bs .form-horizontal .control-group::before, .tw-bs .form-horizontal .control-group::after {
    content: "";
    display: table;
}
.tw-bs .form-horizontal .control-group::after {
    clear: both;
}
.tw-bs .form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}
.tw-bs .form-horizontal .controls {
    margin-left: 160px;
}
.tw-bs .form-horizontal .controls:first-child {
}
.tw-bs .form-horizontal .help-block {
    margin-bottom: 0;
    margin-top: 9px;
}
.tw-bs .form-horizontal .form-actions {
    padding-left: 160px;
}
.tw-bs table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
.tw-bs .table {
    margin-bottom: 18px;
    width: 100%;
}
.tw-bs .table th, .tw-bs .table td {
    border-top: 1px solid #dddddd;
    line-height: 18px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.tw-bs .table th {
    font-weight: bold;
}
.tw-bs .table thead th {
    vertical-align: bottom;
}
.tw-bs .table caption + thead tr:first-child th, .tw-bs .table caption + thead tr:first-child td, .tw-bs .table colgroup + thead tr:first-child th, .tw-bs .table colgroup + thead tr:first-child td, .tw-bs .table thead:first-child tr:first-child th, .tw-bs .table thead:first-child tr:first-child td {
    border-top: 0 none;
}
.tw-bs .table tbody + tbody {
    border-top: 2px solid #dddddd;
}
.tw-bs .table-condensed th, .tw-bs .table-condensed td {
    padding: 4px 5px;
}
.tw-bs .table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #dddddd #dddddd #dddddd -moz-use-text-color;
    border-image: none;
    border-radius: 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}
.tw-bs .table-bordered th, .tw-bs .table-bordered td {
    border-left: 1px solid #dddddd;
}
.tw-bs .table-bordered caption + thead tr:first-child th, .tw-bs .table-bordered caption + tbody tr:first-child th, .tw-bs .table-bordered caption + tbody tr:first-child td, .tw-bs .table-bordered colgroup + thead tr:first-child th, .tw-bs .table-bordered colgroup + tbody tr:first-child th, .tw-bs .table-bordered colgroup + tbody tr:first-child td, .tw-bs .table-bordered thead:first-child tr:first-child th, .tw-bs .table-bordered tbody:first-child tr:first-child th, .tw-bs .table-bordered tbody:first-child tr:first-child td {
    border-top: 0 none;
}
.tw-bs .table-bordered thead:first-child tr:first-child th:first-child, .tw-bs .table-bordered tbody:first-child tr:first-child td:first-child {
    border-top-left-radius: 4px;
}
.tw-bs .table-bordered thead:first-child tr:first-child th:last-child, .tw-bs .table-bordered tbody:first-child tr:first-child td:last-child {
    border-top-right-radius: 4px;
}
.tw-bs .table-bordered thead:last-child tr:last-child th:first-child, .tw-bs .table-bordered tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.tw-bs .table-bordered thead:last-child tr:last-child th:last-child, .tw-bs .table-bordered tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}
.tw-bs .table-striped tbody tr:nth-child(2n+1) td, .tw-bs .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #f9f9f9;
}
.tw-bs .table tbody tr:hover td, .tw-bs .table tbody tr:hover th {
    background-color: #f5f5f5;
}
.tw-bs table .span1 {
    float: none;
    margin-left: 0;
    width: 44px;
}
.tw-bs table .span2 {
    float: none;
    margin-left: 0;
    width: 124px;
}
.tw-bs table .span3 {
    float: none;
    margin-left: 0;
    width: 204px;
}
.tw-bs table .span4 {
    float: none;
    margin-left: 0;
    width: 284px;
}
.tw-bs table .span5 {
    float: none;
    margin-left: 0;
    width: 364px;
}
.tw-bs table .span6 {
    float: none;
    margin-left: 0;
    width: 444px;
}
.tw-bs table .span7 {
    float: none;
    margin-left: 0;
    width: 524px;
}
.tw-bs table .span8 {
    float: none;
    margin-left: 0;
    width: 604px;
}
.tw-bs table .span9 {
    float: none;
    margin-left: 0;
    width: 684px;
}
.tw-bs table .span10 {
    float: none;
    margin-left: 0;
    width: 764px;
}
.tw-bs table .span11 {
    float: none;
    margin-left: 0;
    width: 844px;
}
.tw-bs table .span12 {
    float: none;
    margin-left: 0;
    width: 924px;
}
.tw-bs table .span13 {
    float: none;
    margin-left: 0;
    width: 1004px;
}
.tw-bs table .span14 {
    float: none;
    margin-left: 0;
    width: 1084px;
}
.tw-bs table .span15 {
    float: none;
    margin-left: 0;
    width: 1164px;
}
.tw-bs table .span16 {
    float: none;
    margin-left: 0;
    width: 1244px;
}
.tw-bs table .span17 {
    float: none;
    margin-left: 0;
    width: 1324px;
}
.tw-bs table .span18 {
    float: none;
    margin-left: 0;
    width: 1404px;
}
.tw-bs table .span19 {
    float: none;
    margin-left: 0;
    width: 1484px;
}
.tw-bs table .span20 {
    float: none;
    margin-left: 0;
    width: 1564px;
}
.tw-bs table .span21 {
    float: none;
    margin-left: 0;
    width: 1644px;
}
.tw-bs table .span22 {
    float: none;
    margin-left: 0;
    width: 1724px;
}
.tw-bs table .span23 {
    float: none;
    margin-left: 0;
    width: 1804px;
}
.tw-bs table .span24 {
    float: none;
    margin-left: 0;
    width: 1884px;
}
.tw-bs [class^="icon-"], .tw-bs [class*=" icon-"] {
    background-image: url("img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}
.tw-bs [class^="icon-"]:last-child, .tw-bs [class*=" icon-"]:last-child {
}
.tw-bs .icon-white {
    background-image: url("img/glyphicons-halflings-white.png");
}
.tw-bs .icon-glass {
    background-position: 0 0;
}
.tw-bs .icon-music {
    background-position: -24px 0;
}
.tw-bs .icon-search {
    background-position: -48px 0;
}
.tw-bs .icon-envelope {
    background-position: -72px 0;
}
.tw-bs .icon-heart {
    background-position: -96px 0;
}
.tw-bs .icon-star {
    background-position: -120px 0;
}
.tw-bs .icon-star-empty {
    background-position: -144px 0;
}
.tw-bs .icon-user {
    background-position: -168px 0;
}
.tw-bs .icon-film {
    background-position: -192px 0;
}
.tw-bs .icon-th-large {
    background-position: -216px 0;
}
.tw-bs .icon-th {
    background-position: -240px 0;
}
.tw-bs .icon-th-list {
    background-position: -264px 0;
}
.tw-bs .icon-ok {
    background-position: -288px 0;
}
.tw-bs .icon-remove {
    background-position: -312px 0;
}
.tw-bs .icon-zoom-in {
    background-position: -336px 0;
}
.tw-bs .icon-zoom-out {
    background-position: -360px 0;
}
.tw-bs .icon-off {
    background-position: -384px 0;
}
.tw-bs .icon-signal {
    background-position: -408px 0;
}
.tw-bs .icon-cog {
    background-position: -432px 0;
}
.tw-bs .icon-trash {
    background-position: -456px 0;
}
.tw-bs .icon-home {
    background-position: 0 -24px;
}
.tw-bs .icon-file {
    background-position: -24px -24px;
}
.tw-bs .icon-time {
    background-position: -48px -24px;
}
.tw-bs .icon-road {
    background-position: -72px -24px;
}
.tw-bs .icon-download-alt {
    background-position: -96px -24px;
}
.tw-bs .icon-download {
    background-position: -120px -24px;
}
.tw-bs .icon-upload {
    background-position: -144px -24px;
}
.tw-bs .icon-inbox {
    background-position: -168px -24px;
}
.tw-bs .icon-play-circle {
    background-position: -192px -24px;
}
.tw-bs .icon-repeat {
    background-position: -216px -24px;
}
.tw-bs .icon-refresh {
    background-position: -240px -24px;
}
.tw-bs .icon-list-alt {
    background-position: -264px -24px;
}
.tw-bs .icon-lock {
    background-position: -287px -24px;
}
.tw-bs .icon-flag {
    background-position: -312px -24px;
}
.tw-bs .icon-headphones {
    background-position: -336px -24px;
}
.tw-bs .icon-volume-off {
    background-position: -360px -24px;
}
.tw-bs .icon-volume-down {
    background-position: -384px -24px;
}
.tw-bs .icon-volume-up {
    background-position: -408px -24px;
}
.tw-bs .icon-qrcode {
    background-position: -432px -24px;
}
.tw-bs .icon-barcode {
    background-position: -456px -24px;
}
.tw-bs .icon-tag {
    background-position: 0 -48px;
}
.tw-bs .icon-tags {
    background-position: -25px -48px;
}
.tw-bs .icon-book {
    background-position: -48px -48px;
}
.tw-bs .icon-bookmark {
    background-position: -72px -48px;
}
.tw-bs .icon-print {
    background-position: -96px -48px;
}
.tw-bs .icon-camera {
    background-position: -120px -48px;
}
.tw-bs .icon-font {
    background-position: -144px -48px;
}
.tw-bs .icon-bold {
    background-position: -167px -48px;
}
.tw-bs .icon-italic {
    background-position: -192px -48px;
}
.tw-bs .icon-text-height {
    background-position: -216px -48px;
}
.tw-bs .icon-text-width {
    background-position: -240px -48px;
}
.tw-bs .icon-align-left {
    background-position: -264px -48px;
}
.tw-bs .icon-align-center {
    background-position: -288px -48px;
}
.tw-bs .icon-align-right {
    background-position: -312px -48px;
}
.tw-bs .icon-align-justify {
    background-position: -336px -48px;
}
.tw-bs .icon-list {
    background-position: -360px -48px;
}
.tw-bs .icon-indent-left {
    background-position: -384px -48px;
}
.tw-bs .icon-indent-right {
    background-position: -408px -48px;
}
.tw-bs .icon-facetime-video {
    background-position: -432px -48px;
}
.tw-bs .icon-picture {
    background-position: -456px -48px;
}
.tw-bs .icon-pencil {
    background-position: 0 -72px;
}
.tw-bs .icon-map-marker {
    background-position: -24px -72px;
}
.tw-bs .icon-adjust {
    background-position: -48px -72px;
}
.tw-bs .icon-tint {
    background-position: -72px -72px;
}
.tw-bs .icon-edit {
    background-position: -96px -72px;
}
.tw-bs .icon-share {
    background-position: -120px -72px;
}
.tw-bs .icon-check {
    background-position: -144px -72px;
}
.tw-bs .icon-move {
    background-position: -168px -72px;
}
.tw-bs .icon-step-backward {
    background-position: -192px -72px;
}
.tw-bs .icon-fast-backward {
    background-position: -216px -72px;
}
.tw-bs .icon-backward {
    background-position: -240px -72px;
}
.tw-bs .icon-play {
    background-position: -264px -72px;
}
.tw-bs .icon-pause {
    background-position: -288px -72px;
}
.tw-bs .icon-stop {
    background-position: -312px -72px;
}
.tw-bs .icon-forward {
    background-position: -336px -72px;
}
.tw-bs .icon-fast-forward {
    background-position: -360px -72px;
}
.tw-bs .icon-step-forward {
    background-position: -384px -72px;
}
.tw-bs .icon-eject {
    background-position: -408px -72px;
}
.tw-bs .icon-chevron-left {
    background-position: -432px -72px;
}
.tw-bs .icon-chevron-right {
    background-position: -456px -72px;
}
.tw-bs .icon-plus-sign {
    background-position: 0 -96px;
}
.tw-bs .icon-minus-sign {
    background-position: -24px -96px;
}
.tw-bs .icon-remove-sign {
    background-position: -48px -96px;
}
.tw-bs .icon-ok-sign {
    background-position: -72px -96px;
}
.tw-bs .icon-question-sign {
    background-position: -96px -96px;
}
.tw-bs .icon-info-sign {
    background-position: -120px -96px;
}
.tw-bs .icon-screenshot {
    background-position: -144px -96px;
}
.tw-bs .icon-remove-circle {
    background-position: -168px -96px;
}
.tw-bs .icon-ok-circle {
    background-position: -192px -96px;
}
.tw-bs .icon-ban-circle {
    background-position: -216px -96px;
}
.tw-bs .icon-arrow-left {
    background-position: -240px -96px;
}
.tw-bs .icon-arrow-right {
    background-position: -264px -96px;
}
.tw-bs .icon-arrow-up {
    background-position: -289px -96px;
}
.tw-bs .icon-arrow-down {
    background-position: -312px -96px;
}
.tw-bs .icon-share-alt {
    background-position: -336px -96px;
}
.tw-bs .icon-resize-full {
    background-position: -360px -96px;
}
.tw-bs .icon-resize-small {
    background-position: -384px -96px;
}
.tw-bs .icon-plus {
    background-position: -408px -96px;
}
.tw-bs .icon-minus {
    background-position: -433px -96px;
}
.tw-bs .icon-asterisk {
    background-position: -456px -96px;
}
.tw-bs .icon-exclamation-sign {
    background-position: 0 -120px;
}
.tw-bs .icon-gift {
    background-position: -24px -120px;
}
.tw-bs .icon-leaf {
    background-position: -48px -120px;
}
.tw-bs .icon-fire {
    background-position: -72px -120px;
}
.tw-bs .icon-eye-open {
    background-position: -96px -120px;
}
.tw-bs .icon-eye-close {
    background-position: -120px -120px;
}
.tw-bs .icon-warning-sign {
    background-position: -144px -120px;
}
.tw-bs .icon-plane {
    background-position: -168px -120px;
}
.tw-bs .icon-calendar {
    background-position: -192px -120px;
}
.tw-bs .icon-random {
    background-position: -216px -120px;
}
.tw-bs .icon-comment {
    background-position: -240px -120px;
}
.tw-bs .icon-magnet {
    background-position: -264px -120px;
}
.tw-bs .icon-chevron-up {
    background-position: -288px -120px;
}
.tw-bs .icon-chevron-down {
    background-position: -313px -119px;
}
.tw-bs .icon-retweet {
    background-position: -336px -120px;
}
.tw-bs .icon-shopping-cart {
    background-position: -360px -120px;
}
.tw-bs .icon-folder-close {
    background-position: -384px -120px;
}
.tw-bs .icon-folder-open {
    background-position: -408px -120px;
}
.tw-bs .icon-resize-vertical {
    background-position: -432px -119px;
}
.tw-bs .icon-resize-horizontal {
    background-position: -456px -118px;
}
.tw-bs .icon-hdd {
    background-position: 0 -144px;
}
.tw-bs .icon-bullhorn {
    background-position: -24px -144px;
}
.tw-bs .icon-bell {
    background-position: -48px -144px;
}
.tw-bs .icon-certificate {
    background-position: -72px -144px;
}
.tw-bs .icon-thumbs-up {
    background-position: -96px -144px;
}
.tw-bs .icon-thumbs-down {
    background-position: -120px -144px;
}
.tw-bs .icon-hand-right {
    background-position: -144px -144px;
}
.tw-bs .icon-hand-left {
    background-position: -168px -144px;
}
.tw-bs .icon-hand-up {
    background-position: -192px -144px;
}
.tw-bs .icon-hand-down {
    background-position: -216px -144px;
}
.tw-bs .icon-circle-arrow-right {
    background-position: -240px -144px;
}
.tw-bs .icon-circle-arrow-left {
    background-position: -264px -144px;
}
.tw-bs .icon-circle-arrow-up {
    background-position: -288px -144px;
}
.tw-bs .icon-circle-arrow-down {
    background-position: -312px -144px;
}
.tw-bs .icon-globe {
    background-position: -336px -144px;
}
.tw-bs .icon-wrench {
    background-position: -360px -144px;
}
.tw-bs .icon-tasks {
    background-position: -384px -144px;
}
.tw-bs .icon-filter {
    background-position: -408px -144px;
}
.tw-bs .icon-briefcase {
    background-position: -432px -144px;
}
.tw-bs .icon-fullscreen {
    background-position: -456px -144px;
}
.tw-bs .dropup, .tw-bs .dropdown {
    position: relative;
}
.tw-bs .dropdown-toggle {
}
.tw-bs .dropdown-toggle:active, .tw-bs .open .dropdown-toggle {
    outline: 0 none;
}
.tw-bs .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
}
.tw-bs .dropdown .caret {
    margin-left: 2px;
    margin-top: 8px;
}
.tw-bs .dropdown:hover .caret, .tw-bs .open .caret {
    opacity: 1;
}
.tw-bs .dropdown-menu {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: outside none none;
    margin: 1px 0 0;
    min-width: 160px;
    padding: 4px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.tw-bs .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.tw-bs .dropdown-menu .divider {
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    margin: 8px 1px;
    overflow: hidden;
}
.tw-bs .dropdown-menu a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
}
.tw-bs .dropdown-menu li > a:hover, .tw-bs .dropdown-menu .active > a, .tw-bs .dropdown-menu .active > a:hover {
    background-color: #0088cc;
    color: #ffffff;
    text-decoration: none;
}
.tw-bs .open {
}
.tw-bs .open > .dropdown-menu {
    display: block;
}
.tw-bs .pull-right > .dropdown-menu {
    left: auto;
    right: 0;
}
.tw-bs .dropup .caret, .tw-bs .navbar-fixed-bottom .dropdown .caret {
    border-bottom: 4px solid #000000;
    border-top: 0 none;
    content: "↑";
}
.tw-bs .dropup .dropdown-menu, .tw-bs .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: 100%;
    margin-bottom: 1px;
    top: auto;
}
.tw-bs .typeahead {
    border-radius: 4px;
    margin-top: 2px;
}
.tw-bs .well {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.tw-bs .well blockquote {
    border-color: rgba(0, 0, 0, 0.15);
}
.tw-bs .well-large {
    border-radius: 6px;
    padding: 24px;
}
.tw-bs .well-small {
    border-radius: 3px;
    padding: 9px;
}
.tw-bs .fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.tw-bs .fade.in {
    opacity: 1;
}
.tw-bs .collapse {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}
.tw-bs .collapse.in {
    height: auto;
}
.tw-bs .close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #ffffff;
}
.tw-bs .close:hover {
    color: #000000;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none;
}
.tw-bs button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.tw-bs .btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #4b2e83;
    background-image: -moz-linear-gradient(center top , #ffffff, #613ba9);
    background-repeat: repeat-x;
    border-color: #cccccc #cccccc #b3b3b3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.tw-bs .btn:hover, .tw-bs .btn:active, .tw-bs .btn.active, .tw-bs .btn.disabled, .tw-bs .btn[disabled] {
    background-color: #613ba9;
}
.tw-bs .btn:active, .tw-bs .btn.active {
}
.tw-bs .btn:first-child {
}
.tw-bs .btn:hover {
    background-color: #613ba9;
    background-position: 0 -15px;
    color: #ffffff;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.tw-bs .btn:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}
.tw-bs .btn.active, .tw-bs .btn:active {
    background-color: #613ba9;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.tw-bs .btn.disabled, .tw-bs .btn[disabled] {
    background-color: #613ba9;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.tw-bs .btn-large {
    border-radius: 5px;
    font-size: 15px;
    line-height: normal;
    padding: 9px 14px;
}
.tw-bs .btn-large [class^="icon-"] {
    margin-top: 1px;
}
.tw-bs .btn-small {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 9px;
}
.tw-bs .btn-small [class^="icon-"] {
    margin-top: -1px;
}
.tw-bs .btn-mini {
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px;
}
.tw-bs .btn-primary, .tw-bs .btn-primary:hover, .tw-bs .btn-warning, .tw-bs .btn-warning:hover, .tw-bs .btn-danger, .tw-bs .btn-danger:hover, .tw-bs .btn-success, .tw-bs .btn-success:hover, .tw-bs .btn-info, .tw-bs .btn-info:hover, .tw-bs .btn-inverse, .tw-bs .btn-inverse:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.tw-bs .btn-primary.active, .tw-bs .btn-warning.active, .tw-bs .btn-danger.active, .tw-bs .btn-success.active, .tw-bs .btn-info.active, .tw-bs .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.tw-bs .btn {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.tw-bs .btn-primary {
    background-color: #0074cc;
    background-image: -moz-linear-gradient(center top , #0088cc, #0055cc);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.tw-bs .btn-primary:hover, .tw-bs .btn-primary:active, .tw-bs .btn-primary.active, .tw-bs .btn-primary.disabled, .tw-bs .btn-primary[disabled] {
    background-color: #0055cc;
}
.tw-bs .btn-primary:active, .tw-bs .btn-primary.active {
}
.tw-bs .btn-warning {
    background-color: #faa732;
    background-image: -moz-linear-gradient(center top , #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.tw-bs .btn-warning:hover, .tw-bs .btn-warning:active, .tw-bs .btn-warning.active, .tw-bs .btn-warning.disabled, .tw-bs .btn-warning[disabled] {
    background-color: #f89406;
}
.tw-bs .btn-warning:active, .tw-bs .btn-warning.active {
}
.tw-bs .btn-danger {
    background-color: #da4f49;
    background-image: -moz-linear-gradient(center top , #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.tw-bs .btn-danger:hover, .tw-bs .btn-danger:active, .tw-bs .btn-danger.active, .tw-bs .btn-danger.disabled, .tw-bs .btn-danger[disabled] {
    background-color: #bd362f;
}
.tw-bs .btn-danger:active, .tw-bs .btn-danger.active {
}
.tw-bs .btn-success {
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(center top , #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.tw-bs .btn-success:hover, .tw-bs .btn-success:active, .tw-bs .btn-success.active, .tw-bs .btn-success.disabled, .tw-bs .btn-success[disabled] {
    background-color: #51a351;
}
.tw-bs .btn-success:active, .tw-bs .btn-success.active {
}
.tw-bs .btn-info {
    background-color: #49afcd;
    background-image: -moz-linear-gradient(center top , #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.tw-bs .btn-info:hover, .tw-bs .btn-info:active, .tw-bs .btn-info.active, .tw-bs .btn-info.disabled, .tw-bs .btn-info[disabled] {
    background-color: #2f96b4;
}
.tw-bs .btn-info:active, .tw-bs .btn-info.active {
}
.tw-bs .btn-inverse {
    background-color: #414141;
    background-image: -moz-linear-gradient(center top , #555555, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.tw-bs .btn-inverse:hover, .tw-bs .btn-inverse:active, .tw-bs .btn-inverse.active, .tw-bs .btn-inverse.disabled, .tw-bs .btn-inverse[disabled] {
    background-color: #222222;
}
.tw-bs .btn-inverse:active, .tw-bs .btn-inverse.active {
}
.tw-bs button.btn, .tw-bs input.btn[type="submit"] {
}
.tw-bs button.btn::-moz-focus-inner, .tw-bs input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.tw-bs button.btn.btn-large, .tw-bs input.btn.btn-large[type="submit"] {
}
.tw-bs button.btn.btn-small, .tw-bs input.btn.btn-small[type="submit"] {
}
.tw-bs button.btn.btn-mini, .tw-bs input.btn.btn-mini[type="submit"] {
}
.tw-bs .btn-group {
    position: relative;
}
.tw-bs .btn-group::before, .tw-bs .btn-group::after {
    content: "";
    display: table;
}
.tw-bs .btn-group::after {
    clear: both;
}
.tw-bs .btn-group:first-child {
}
.tw-bs .btn-group + .btn-group {
    margin-left: 5px;
}
.tw-bs .btn-toolbar {
    margin-bottom: 9px;
    margin-top: 9px;
}
.tw-bs .btn-toolbar .btn-group {
    display: inline-block;
}
.tw-bs .btn-group > .btn {
    border-radius: 0;
    float: left;
    margin-left: -1px;
    position: relative;
}
.tw-bs .btn-group > .btn:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.tw-bs .btn-group > .btn:last-child, .tw-bs .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.tw-bs .btn-group > .btn.large:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: 0;
}
.tw-bs .btn-group > .btn.large:last-child, .tw-bs .btn-group > .large.dropdown-toggle {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.tw-bs .btn-group > .btn:hover, .tw-bs .btn-group > .btn:focus, .tw-bs .btn-group > .btn:active, .tw-bs .btn-group > .btn.active {
    z-index: 2;
}
.tw-bs .btn-group .dropdown-toggle:active, .tw-bs .btn-group.open .dropdown-toggle {
    outline: 0 none;
}
.tw-bs .btn-group > .dropdown-toggle {
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-left: 8px;
    padding-right: 8px;
}
.tw-bs .btn-group > .btn-mini.dropdown-toggle {
    padding-left: 5px;
    padding-right: 5px;
}
.tw-bs .btn-group > .btn-small.dropdown-toggle {
}
.tw-bs .btn-group > .btn-large.dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}
.tw-bs .btn-group.open .dropdown-toggle {
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tw-bs .btn-group.open .btn.dropdown-toggle {
    background-color: #613ba9;
}
.tw-bs .btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0055cc;
}
.tw-bs .btn-group.open .btn-warning.dropdown-toggle {
    background-color: #f89406;
}
.tw-bs .btn-group.open .btn-danger.dropdown-toggle {
    background-color: #bd362f;
}
.tw-bs .btn-group.open .btn-success.dropdown-toggle {
    background-color: #51a351;
}
.tw-bs .btn-group.open .btn-info.dropdown-toggle {
    background-color: #2f96b4;
}
.tw-bs .btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222222;
}
.tw-bs .btn .caret {
    margin-left: 0;
    margin-top: 7px;
}
.tw-bs .btn:hover .caret, .tw-bs .open.btn-group .caret {
    opacity: 1;
}
.tw-bs .btn-mini .caret {
    margin-top: 5px;
}
.tw-bs .btn-small .caret {
    margin-top: 6px;
}
.tw-bs .btn-large .caret {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    margin-top: 6px;
}
.tw-bs .dropup .btn-large .caret {
    border-bottom: 5px solid #000000;
    border-top: 0 none;
}
.tw-bs .btn-primary .caret, .tw-bs .btn-warning .caret, .tw-bs .btn-danger .caret, .tw-bs .btn-info .caret, .tw-bs .btn-success .caret, .tw-bs .btn-inverse .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
    opacity: 0.75;
}
.tw-bs .alert {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    color: #c09853;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.tw-bs .alert-heading {
    color: inherit;
}
.tw-bs .alert .close {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}
.tw-bs .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.tw-bs .alert-danger, .tw-bs .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.tw-bs .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.tw-bs .alert-block {
    padding-bottom: 14px;
    padding-top: 14px;
}
.tw-bs .alert-block > p, .tw-bs .alert-block > ul {
    margin-bottom: 0;
}
.tw-bs .alert-block p + p {
    margin-top: 5px;
}
.tw-bs .nav {
    list-style: outside none none;
    margin-bottom: 18px;
    margin-left: 0;
}
.tw-bs .nav > li > a {
    display: block;
}
.tw-bs .nav > li > a:hover {
    background-color: #eeeeee;
    text-decoration: none;
}
.tw-bs .nav > .pull-right {
    float: right;
}
.tw-bs .nav .nav-header {
    color: #999999;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.tw-bs .nav li + .nav-header {
    margin-top: 9px;
}
.tw-bs .nav-list {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.tw-bs .nav-list > li > a, .tw-bs .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.tw-bs .nav-list > li > a {
    padding: 3px 15px;
}
.tw-bs .nav-list > .active > a, .tw-bs .nav-list > .active > a:hover {
    background-color: #0088cc;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.tw-bs .nav-list [class^="icon-"] {
    margin-right: 2px;
}
.tw-bs .nav-list .divider {
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    margin: 8px 1px;
    overflow: hidden;
}
.tw-bs .nav-tabs, .tw-bs .nav-pills {
}
.tw-bs .nav-tabs::before, .tw-bs .nav-pills::before, .tw-bs .nav-tabs::after, .tw-bs .nav-pills::after {
    content: "";
    display: table;
}
.tw-bs .nav-tabs::after, .tw-bs .nav-pills::after {
    clear: both;
}
.tw-bs .nav-tabs > li, .tw-bs .nav-pills > li {
    float: left;
}
.tw-bs .nav-tabs > li > a, .tw-bs .nav-pills > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}
.tw-bs .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.tw-bs .nav-tabs > li {
    margin-bottom: -1px;
}
.tw-bs .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.tw-bs .nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}
.tw-bs .nav-tabs > .active > a, .tw-bs .nav-tabs > .active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}
.tw-bs .nav-pills > li > a {
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.tw-bs .nav-pills > .active > a, .tw-bs .nav-pills > .active > a:hover {
    background-color: #0088cc;
    color: #ffffff;
}
.tw-bs .nav-stacked > li {
    float: none;
}
.tw-bs .nav-stacked > li > a {
    margin-right: 0;
}
.tw-bs .nav-tabs.nav-stacked {
    border-bottom: 0 none;
}
.tw-bs .nav-tabs.nav-stacked > li > a {
    border: 1px solid #ddd;
    border-radius: 0;
}
.tw-bs .nav-tabs.nav-stacked > li:first-child > a {
    border-radius: 4px 4px 0 0;
}
.tw-bs .nav-tabs.nav-stacked > li:last-child > a {
    border-radius: 0 0 4px 4px;
}
.tw-bs .nav-tabs.nav-stacked > li > a:hover {
    border-color: #ddd;
    z-index: 2;
}
.tw-bs .nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}
.tw-bs .nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px;
}
.tw-bs .nav-tabs .dropdown-menu {
    border-radius: 0 0 5px 5px;
}
.tw-bs .nav-pills .dropdown-menu {
    border-radius: 4px;
}
.tw-bs .nav-tabs .dropdown-toggle .caret, .tw-bs .nav-pills .dropdown-toggle .caret {
    border-bottom-color: #0088cc;
    border-top-color: #0088cc;
    margin-top: 6px;
}
.tw-bs .nav-tabs .dropdown-toggle:hover .caret, .tw-bs .nav-pills .dropdown-toggle:hover .caret {
    border-bottom-color: #005580;
    border-top-color: #005580;
}
.tw-bs .nav-tabs .active .dropdown-toggle .caret, .tw-bs .nav-pills .active .dropdown-toggle .caret {
    border-bottom-color: #333333;
    border-top-color: #333333;
}
.tw-bs .nav > .dropdown.active > a:hover {
    color: #000000;
    cursor: pointer;
}
.tw-bs .nav-tabs .open .dropdown-toggle, .tw-bs .nav-pills .open .dropdown-toggle, .tw-bs .nav > li.dropdown.open.active > a:hover {
    background-color: #999999;
    border-color: #999999;
    color: #ffffff;
}
.tw-bs .nav li.dropdown.open .caret, .tw-bs .nav li.dropdown.open.active .caret, .tw-bs .nav li.dropdown.open a:hover .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
    opacity: 1;
}
.tw-bs .tabs-stacked .open > a:hover {
    border-color: #999999;
}
.tw-bs .tabbable {
}
.tw-bs .tabbable::before, .tw-bs .tabbable::after {
    content: "";
    display: table;
}
.tw-bs .tabbable::after {
    clear: both;
}
.tw-bs .tab-content {
    overflow: auto;
}
.tw-bs .tabs-below > .nav-tabs, .tw-bs .tabs-right > .nav-tabs, .tw-bs .tabs-left > .nav-tabs {
    border-bottom: 0 none;
}
.tw-bs .tab-content > .tab-pane, .tw-bs .pill-content > .pill-pane {
    display: none;
}
.tw-bs .tab-content > .active, .tw-bs .pill-content > .active {
    display: block;
}
.tw-bs .tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}
.tw-bs .tabs-below > .nav-tabs > li {
    margin-bottom: 0;
    margin-top: -1px;
}
.tw-bs .tabs-below > .nav-tabs > li > a {
    border-radius: 0 0 4px 4px;
}
.tw-bs .tabs-below > .nav-tabs > li > a:hover {
    border-bottom-color: transparent;
    border-top-color: #ddd;
}
.tw-bs .tabs-below > .nav-tabs > .active > a, .tw-bs .tabs-below > .nav-tabs > .active > a:hover {
    border-color: transparent #ddd #ddd;
}
.tw-bs .tabs-left > .nav-tabs > li, .tw-bs .tabs-right > .nav-tabs > li {
    float: none;
}
.tw-bs .tabs-left > .nav-tabs > li > a, .tw-bs .tabs-right > .nav-tabs > li > a {
    margin-bottom: 3px;
    margin-right: 0;
    min-width: 74px;
}
.tw-bs .tabs-left > .nav-tabs {
    border-right: 1px solid #ddd;
    float: left;
    margin-right: 19px;
}
.tw-bs .tabs-left > .nav-tabs > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: -1px;
}
.tw-bs .tabs-left > .nav-tabs > li > a:hover {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tw-bs .tabs-left > .nav-tabs .active > a, .tw-bs .tabs-left > .nav-tabs .active > a:hover {
    border-color: #ddd transparent #ddd #ddd;
}
.tw-bs .tabs-right > .nav-tabs {
    border-left: 1px solid #ddd;
    float: right;
    margin-left: 19px;
}
.tw-bs .tabs-right > .nav-tabs > li > a {
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
}
.tw-bs .tabs-right > .nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tw-bs .tabs-right > .nav-tabs .active > a, .tw-bs .tabs-right > .nav-tabs .active > a:hover {
    border-color: #ddd #ddd #ddd transparent;
}
.tw-bs .navbar {
    margin-bottom: 18px;
    overflow: visible;
}
.tw-bs .navbar-inner {
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.tw-bs .navbar .container {
    width: auto;
}
.tw-bs .nav-collapse.collapse {
    height: auto;
}
.tw-bs .navbar {
    color: #999999;
}
.tw-bs .navbar .brand:hover {
    text-decoration: none;
}
.tw-bs .navbar .brand {
    color: #999999;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    margin-left: -20px;
    padding: 8px 20px 12px;
}
.tw-bs .navbar .navbar-text {
    line-height: 40px;
    margin-bottom: 0;
}
.tw-bs .navbar .navbar-link {
    color: #999999;
}
.tw-bs .navbar .navbar-link:hover {
    color: #ffffff;
}
.tw-bs .navbar .btn, .tw-bs .navbar .btn-group {
    margin-top: 5px;
}
.tw-bs .navbar .btn-group .btn {
    margin: 0;
}
.tw-bs .navbar-form {
    margin-bottom: 0;
}
.tw-bs .navbar-form::before, .tw-bs .navbar-form::after {
    content: "";
    display: table;
}
.tw-bs .navbar-form::after {
    clear: both;
}
.tw-bs .navbar-form input, .tw-bs .navbar-form select, .tw-bs .navbar-form .radio, .tw-bs .navbar-form .checkbox {
    margin-top: 5px;
}
.tw-bs .navbar-form input, .tw-bs .navbar-form select {
    display: inline-block;
    margin-bottom: 0;
}
.tw-bs .navbar-form input[type="image"], .tw-bs .navbar-form input[type="checkbox"], .tw-bs .navbar-form input[type="radio"] {
    margin-top: 3px;
}
.tw-bs .navbar-form .input-append, .tw-bs .navbar-form .input-prepend {
    margin-top: 6px;
    white-space: nowrap;
}
.tw-bs .navbar-form .input-append input, .tw-bs .navbar-form .input-prepend input {
    margin-top: 0;
}
.tw-bs .navbar-search {
    float: left;
    margin-bottom: 0;
    margin-top: 6px;
    position: relative;
}
.tw-bs .navbar-search .search-query {
    background-color: #626262;
    border: 1px solid #151515;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
    color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    padding: 4px 9px;
    transition: none 0s ease 0s ;
}
.tw-bs .navbar-search .search-query:-moz-placeholder {
    color: #cccccc;
}
.tw-bs .navbar-search .search-query:focus, .tw-bs .navbar-search .search-query.focused {
    background-color: #ffffff;
    border: 0 none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    color: #333333;
    outline: 0 none;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #ffffff;
}
.tw-bs .navbar-fixed-top, .tw-bs .navbar-fixed-bottom {
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}
.tw-bs .navbar-fixed-top .navbar-inner, .tw-bs .navbar-fixed-bottom .navbar-inner {
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}
.tw-bs .navbar-fixed-top .container, .tw-bs .navbar-fixed-bottom .container {
    width: 940px;
}
.tw-bs .navbar-fixed-top {
    top: 0;
}
.tw-bs .navbar-fixed-bottom {
    bottom: 0;
}
.tw-bs .navbar .nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
.tw-bs .navbar .nav.pull-right {
    float: right;
}
.tw-bs .navbar .nav > li {
    display: block;
    float: left;
}
.tw-bs .navbar .nav > li > a {
    color: #999999;
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.tw-bs .navbar .btn {
    display: inline-block;
    line-height: 18px;
    margin: 5px 5px 6px;
    padding: 4px 10px;
}
.tw-bs .navbar .btn-group {
    margin: 0;
    padding: 5px 5px 6px;
}
.tw-bs .navbar .nav > li > a:hover {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.tw-bs .navbar .nav .active > a, .tw-bs .navbar .nav .active > a:hover {
    background-color: #222222;
    color: #ffffff;
    text-decoration: none;
}
.tw-bs .navbar .divider-vertical {
    background-color: #222222;
    border-right: 1px solid #333333;
    height: 40px;
    margin: 0 9px;
    overflow: hidden;
    width: 1px;
}
.tw-bs .navbar .nav.pull-right {
    margin-left: 10px;
    margin-right: 0;
}
.tw-bs .navbar .btn-navbar {
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    display: none;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
}
.tw-bs .navbar .btn-navbar:hover, .tw-bs .navbar .btn-navbar:active, .tw-bs .navbar .btn-navbar.active, .tw-bs .navbar .btn-navbar.disabled, .tw-bs .navbar .btn-navbar[disabled] {
    background-color: #222222;
}
.tw-bs .navbar .btn-navbar:active, .tw-bs .navbar .btn-navbar.active {
}
.tw-bs .navbar .btn-navbar .icon-bar {
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}
.tw-bs .btn-navbar .icon-bar + .icon-bar {
    margin-top: 3px;
}
.tw-bs .navbar .dropdown-menu::before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.tw-bs .navbar .dropdown-menu::after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.tw-bs .navbar-fixed-bottom .dropdown-menu::before {
    border-bottom: 0 none;
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    bottom: -7px;
    top: auto;
}
.tw-bs .navbar-fixed-bottom .dropdown-menu::after {
    border-bottom: 0 none;
    border-top: 6px solid #ffffff;
    bottom: -6px;
    top: auto;
}
.tw-bs .navbar .nav li.dropdown .dropdown-toggle .caret, .tw-bs .navbar .nav li.dropdown.open .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}
.tw-bs .navbar .nav li.dropdown.active .caret {
    opacity: 1;
}
.tw-bs .navbar .nav li.dropdown.open > .dropdown-toggle, .tw-bs .navbar .nav li.dropdown.active > .dropdown-toggle, .tw-bs .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}
.tw-bs .navbar .nav li.dropdown.active > .dropdown-toggle:hover {
    color: #ffffff;
}
.tw-bs .navbar .pull-right .dropdown-menu, .tw-bs .navbar .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.tw-bs .navbar .pull-right .dropdown-menu::before, .tw-bs .navbar .dropdown-menu.pull-right::before {
    left: auto;
    right: 12px;
}
.tw-bs .navbar .pull-right .dropdown-menu::after, .tw-bs .navbar .dropdown-menu.pull-right::after {
    left: auto;
    right: 13px;
}
.tw-bs .breadcrumb {
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(center top , #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ffffff inset;
    list-style: outside none none;
    margin: 0 0 18px;
    padding: 7px 14px;
}
.tw-bs .breadcrumb li {
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
}
.tw-bs .breadcrumb .divider {
    color: #999999;
    padding: 0 5px;
}
.tw-bs .breadcrumb .active a {
    color: #333333;
}
.tw-bs .pagination {
    height: 36px;
    margin: 18px 0;
}
.tw-bs .pagination ul {
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.tw-bs .pagination li {
    display: inline;
}
.tw-bs .pagination a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}
.tw-bs .pagination a:hover, .tw-bs .pagination .active a {
    background-color: #f5f5f5;
}
.tw-bs .pagination .active a {
    color: #999999;
    cursor: default;
}
.tw-bs .pagination .disabled span, .tw-bs .pagination .disabled a, .tw-bs .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.tw-bs .pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.tw-bs .pagination li:last-child a {
    border-radius: 0 3px 3px 0;
}
.tw-bs .pagination-centered {
    text-align: center;
}
.tw-bs .pagination-right {
    text-align: right;
}
.tw-bs .pager {
    list-style: outside none none;
    margin-bottom: 18px;
    margin-left: 0;
    text-align: center;
}
.tw-bs .pager::before, .tw-bs .pager::after {
    content: "";
    display: table;
}
.tw-bs .pager::after {
    clear: both;
}
.tw-bs .pager li {
    display: inline;
}
.tw-bs .pager a {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 14px;
}
.tw-bs .pager a:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}
.tw-bs .pager .next a {
    float: right;
}
.tw-bs .pager .previous a {
    float: left;
}
.tw-bs .pager .disabled a, .tw-bs .pager .disabled a:hover {
    background-color: #fff;
    color: #999999;
    cursor: default;
}
.tw-bs .modal-open .dropdown-menu {
    z-index: 2050;
}
.tw-bs .modal-open .dropdown.open {
}
.tw-bs .modal-open .popover {
    z-index: 2060;
}
.tw-bs .modal-open .tooltip {
    z-index: 2070;
}
.tw-bs .modal-backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}
.tw-bs .modal-backdrop.fade {
    opacity: 0;
}
.tw-bs .modal-backdrop, .tw-bs .modal-backdrop.fade.in {
    opacity: 0.8;
}
.tw-bs .modal {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: -250px 0 0 -280px;
    overflow: auto;
    position: fixed;
    top: 50%;
    width: 560px;
    z-index: 1050;
}
.tw-bs .modal.fade {
    top: -25%;
    transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
}
.tw-bs .modal.fade.in {
    top: 50%;
}
.tw-bs .modal-header {
    border-bottom: 1px solid #eee;
    padding: 9px 15px;
}
.tw-bs .modal-header .close {
    margin-top: 2px;
}
.tw-bs .modal-body {
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
}
.tw-bs .modal-form {
    margin-bottom: 0;
}
.tw-bs .modal-footer {
    background-color: #f5f5f5;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 0 #ffffff inset;
    margin-bottom: 0;
    padding: 14px 15px 15px;
    text-align: right;
}
.tw-bs .modal-footer::before, .tw-bs .modal-footer::after {
    content: "";
    display: table;
}
.tw-bs .modal-footer::after {
    clear: both;
}
.tw-bs .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.tw-bs .modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.tw-bs .tooltip {
    display: block;
    font-size: 11px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    visibility: visible;
    z-index: 1020;
}
.tw-bs .tooltip.in {
    opacity: 0.8;
}
.tw-bs .tooltip.top {
    margin-top: -2px;
}
.tw-bs .tooltip.right {
    margin-left: 2px;
}
.tw-bs .tooltip.bottom {
    margin-top: 2px;
}
.tw-bs .tooltip.left {
    margin-left: -2px;
}
.tw-bs .tooltip.top .tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.tw-bs .tooltip.left .tooltip-arrow {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000000;
    border-top: 5px solid transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.tw-bs .tooltip.bottom .tooltip-arrow {
    border-bottom: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    top: 0;
}
.tw-bs .tooltip.right .tooltip-arrow {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000000;
    border-top: 5px solid transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.tw-bs .tooltip-inner {
    background-color: #000000;
    border-radius: 4px;
    color: #ffffff;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}
.tw-bs .tooltip-arrow {
    height: 0;
    position: absolute;
    width: 0;
}
.tw-bs .popover {
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 1010;
}
.tw-bs .popover.top {
    margin-top: -5px;
}
.tw-bs .popover.right {
    margin-left: 5px;
}
.tw-bs .popover.bottom {
    margin-top: 5px;
}
.tw-bs .popover.left {
    margin-left: -5px;
}
.tw-bs .popover.top .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.tw-bs .popover.right .arrow {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000000;
    border-top: 5px solid transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.tw-bs .popover.bottom .arrow {
    border-bottom: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    top: 0;
}
.tw-bs .popover.left .arrow {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000000;
    border-top: 5px solid transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.tw-bs .popover .arrow {
    height: 0;
    position: absolute;
    width: 0;
}
.tw-bs .popover-inner {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 3px;
    width: 280px;
}
.tw-bs .popover-title {
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    border-radius: 3px 3px 0 0;
    line-height: 1;
    padding: 9px 15px;
}
.tw-bs .popover-content {
    background-clip: padding-box;
    background-color: #ffffff;
    border-radius: 0 0 3px 3px;
    padding: 14px;
}
.tw-bs .popover-content p, .tw-bs .popover-content ul, .tw-bs .popover-content ol {
    margin-bottom: 0;
}
.tw-bs .thumbnails {
    list-style: outside none none;
    margin-left: -20px;
}
.tw-bs .thumbnails::before, .tw-bs .thumbnails::after {
    content: "";
    display: table;
}
.tw-bs .thumbnails::after {
    clear: both;
}
.tw-bs .row-fluid .thumbnails {
    margin-left: 0;
}
.tw-bs .thumbnails > li {
    float: left;
    margin-bottom: 18px;
    margin-left: 20px;
}
.tw-bs .thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    line-height: 1;
    padding: 4px;
}
.tw-bs a.thumbnail:hover {
    border-color: #0088cc;
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.tw-bs .thumbnail > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.tw-bs .thumbnail .caption {
    padding: 9px;
}
.tw-bs .label, .tw-bs .badge {
    background-color: #999999;
    color: #ffffff;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.tw-bs .label {
    border-radius: 3px;
    padding: 1px 4px 2px;
}
.tw-bs .badge {
    border-radius: 9px;
    padding: 1px 9px 2px;
}
.tw-bs a.label:hover, .tw-bs a.badge:hover {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.tw-bs .label-important, .tw-bs .badge-important {
    background-color: #b94a48;
}
.tw-bs .label-important[href], .tw-bs .badge-important[href] {
    background-color: #953b39;
}
.tw-bs .label-warning, .tw-bs .badge-warning {
    background-color: #f89406;
}
.tw-bs .label-warning[href], .tw-bs .badge-warning[href] {
    background-color: #c67605;
}
.tw-bs .label-success, .tw-bs .badge-success {
    background-color: #468847;
}
.tw-bs .label-success[href], .tw-bs .badge-success[href] {
    background-color: #356635;
}
.tw-bs .label-info, .tw-bs .badge-info {
    background-color: #3a87ad;
}
.tw-bs .label-info[href], .tw-bs .badge-info[href] {
    background-color: #2d6987;
}
.tw-bs .label-inverse, .tw-bs .badge-inverse {
    background-color: #333333;
}
.tw-bs .label-inverse[href], .tw-bs .badge-inverse[href] {
    background-color: #1a1a1a;
}
@keyframes progress-bar-stripes {
0% {
    background-position: 40px 0;
}
100% {
    background-position: 0 0;
}
}
@keyframes progress-bar-stripes {
0% {
    background-position: 40px 0;
}
100% {
    background-position: 0 0;
}
}
.tw-bs .progress {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(center top , #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 18px;
    margin-bottom: 18px;
    overflow: hidden;
}
.tw-bs .progress .bar {
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(center top , #149bdf, #0480be);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 12px;
    height: 18px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
    width: 0;
}
.tw-bs .progress-striped .bar {
    background-color: #149bdf;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.tw-bs .progress.active .bar {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.tw-bs .progress-danger .bar {
    background-color: #dd514c;
    background-image: -moz-linear-gradient(center top , #ee5f5b, #c43c35);
    background-repeat: repeat-x;
}
.tw-bs .progress-danger.progress-striped .bar {
    background-color: #ee5f5b;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.tw-bs .progress-success .bar {
    background-color: #5eb95e;
    background-image: -moz-linear-gradient(center top , #62c462, #57a957);
    background-repeat: repeat-x;
}
.tw-bs .progress-success.progress-striped .bar {
    background-color: #62c462;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.tw-bs .progress-info .bar {
    background-color: #4bb1cf;
    background-image: -moz-linear-gradient(center top , #5bc0de, #339bb9);
    background-repeat: repeat-x;
}
.tw-bs .progress-info.progress-striped .bar {
    background-color: #5bc0de;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.tw-bs .progress-warning .bar {
    background-color: #faa732;
    background-image: -moz-linear-gradient(center top , #fbb450, #f89406);
    background-repeat: repeat-x;
}
.tw-bs .progress-warning.progress-striped .bar {
    background-color: #fbb450;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.tw-bs .accordion {
    margin-bottom: 18px;
}
.tw-bs .accordion-group {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 2px;
}
.tw-bs .accordion-heading {
    border-bottom: 0 none;
}
.tw-bs .accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.tw-bs .accordion-toggle {
    cursor: pointer;
}
.tw-bs .accordion-inner {
    border-top: 1px solid #e5e5e5;
    padding: 9px 15px;
}
.tw-bs .carousel {
    line-height: 1;
    margin-bottom: 18px;
    position: relative;
}
.tw-bs .carousel-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.tw-bs .carousel .item {
    display: none;
    position: relative;
    transition: left 0.6s ease-in-out 0s;
}
.tw-bs .carousel .item > img {
    display: block;
    line-height: 1;
}
.tw-bs .carousel .active, .tw-bs .carousel .next, .tw-bs .carousel .prev {
    display: block;
}
.tw-bs .carousel .active {
    left: 0;
}
.tw-bs .carousel .next, .tw-bs .carousel .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.tw-bs .carousel .next {
    left: 100%;
}
.tw-bs .carousel .prev {
    left: -100%;
}
.tw-bs .carousel .next.left, .tw-bs .carousel .prev.right {
    left: 0;
}
.tw-bs .carousel .active.left {
    left: -100%;
}
.tw-bs .carousel .active.right {
    left: 100%;
}
.tw-bs .carousel-control {
    background: #222222 none repeat scroll 0 0;
    border: 3px solid #ffffff;
    border-radius: 23px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
    left: 15px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40px;
}
.tw-bs .carousel-control.right {
    left: auto;
    right: 15px;
}
.tw-bs .carousel-control:hover {
    color: #ffffff;
    opacity: 0.9;
    text-decoration: none;
}
.tw-bs .carousel-caption {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 10px 15px 5px;
    position: absolute;
    right: 0;
}
.tw-bs .carousel-caption h4, .tw-bs .carousel-caption p {
    color: #ffffff;
}
.tw-bs .hero-unit {
    background-color: #eeeeee;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 60px;
}
.tw-bs .hero-unit h1 {
    color: inherit;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.tw-bs .hero-unit p {
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}
.tw-bs .pull-right {
    float: right;
}
.tw-bs .pull-left {
    float: left;
}
.tw-bs .hide {
    display: none;
}
.tw-bs .show {
    display: block;
}
.tw-bs .invisible {
    visibility: hidden;
}
.accordion-inner {
    margin-left: 20px;
}
.table-striped tbody tr:nth-child(2n+1):hover td, .table-striped tbody tr:nth-child(2n+1):hover th {
    background-color: #f2f0fd;
}
.table-striped tbody tr:nth-child(2n):hover td, .table-striped tbody tr:nth-child(2n):hover th {
    background-color: #f2f0fd;
}
