#ritr-sponsor-form {
padding-left:310px;
min-height:600px;
background: url(/facilities/transportation/files/images/ritr_form_bg.jpg) no-repeat;
}

tr.odd {
    background-color:#e7e7e7;
    }

    .stop { width:200px; min-height:100px; font-family:Helvetica, Arial, sans-serif; }
    .stopInner { width:160px; margin:0 auto; padding:0.25em; }
    .stop h1 { font-size:1.2em; padding:0; margin:0; }
    .stop p { font-size:1em; padding-top:0.5em; }

.modeBox { float:left; width:10em; padding: 2em 2em 0 0; text-align:center; }
.modeBox ul { list-style-type: none; margin:0; padding:1em 0 0 0; text-align:left; }
.modeBox li { padding:0 0 0.5em 0.5em; }
.modeBox h1 { font-size:10pt; }

h1, h2, h3 { padding-bottom:0.5em; }

#NavContainer ul.menu li.contact {
    margin-top:0px;
    }

.program-block {
    float: left;
    width: 70px;
    min-height: 140px;
    padding-left: 1.0em;
    padding-right: 1.0em;
}

.program-block h3 {
    text-align: center;
}

.program-block ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

h3 a { color:#39275B; }

div.job {
    padding:0em 0em 1em 1em;
}
    
div.job p.descr {
    margin:0; 
    color:#444;
}

div.jobinner {
    padding: 0.5em 0 0 1em;
}

.jobtitle {
    font-weight:bold;
}

.closesdate {
    font-style:italic;
}

div.item-list ul { padding-left:2em; }

p.search-info { display: none; }

ul#menu ul{list-style-type:none;margin:0;padding:0 0 0 10px;}
ul#menu{list-style-type:none;margin:0 0 0 10px;padding:0;width:160px;}
ul#menu a{display:block;text-decoration:none;width:160px;}
a.menuMiddle{outline:none
}
a.menuMiddle:focus{outline:1px dotted #6c6c6c;}
a.menuMiddle:hover{cursor:pointer;cursor:hand;}
ul#menu li{margin-top:1px;}
ul#menu li a{color:#333;}
ul#menu li a:hover{}
ul#menu li ul li a{color:#444444;display:inline-block;font-size:92%;line-height:110%;margin-left:4px;padding:2px 0 2px 0;width:112px;}
ul#menu li ul li a:hover{background-color:#efefef;}
.menuMiddle{
		background-image:url(../../../../all/themes/uw2010/images/menu_middle_short.png);
		background-repeat:no-repeat;
		background-position:center top;
		display:block;overflow:hidden;
}

.menuMiddle:active {background-image:url(../../../../all/themes/uw2010/images/menu_middle_active_short.png);}
.selectedAccordion {background-image:url(../../../../all/themes/uw2010/images/menu_middle_active_short.png);font-weight:bold;color:#FFC925 !important;padding-left:0;}
.menuLeft{background-repeat:no-repeat;background-position:left top;padding:6px 0 15px 25px;display:block;overflow:hidden;height:17px;}
.menuRight{background-repeat:no-repeat;background-position:right top;display:block;overflow:hidden;}
div.region-sidebar-second li {border: none;}

.portalLinks li, div.region-sidebar-second li, #content li, .portal-extras li, #listBox li { background: none; }
.selectedArrow:hover {background:none;}
div#main-wrapper div.content {padding-left:0;}

.mainNavBG {
  float:left;
}

.mainNavBGRight {
 float:left;
 width: 251px;
 background-position: -2px 0;
 padding-top:25px;
 color: #5F5F5F;
 font-weight: normal;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.2em;
}

.menu_right_item {
  width:240px;
  margin-bottom:20px;
}

#rightInfo {
margin-left: 0px;
float: left;
}

#main-content {
margin-left: 0px;
margin-right: 10px;
float: left;
width: 470px;
}


/* Tiny Carousel */
#slider1 { height: 1%; overflow:hidden; padding: 0 0 10px;   }
#slider1 .viewport { float: left; width: 564px; height: 304px; overflow: hidden; position: relative; }
#slider1 .buttons { background:url("../images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 30px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#slider1 .next { background-position: 0 0; margin: 30px 0 0 10px;  }
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 564px; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 300px; border: 1px solid #dcdcdc; width: 560px;}
#slider1 .pager { 

	margin: 6px 0 0;
	float: right;
	list-style: none;

}
#slider1 .pager li { float: left; }
/*#slider1 .pager a { background-color: #fff; text-decoration: none; text-align: center; padding: 5px; color: #555555; font-size: 14px; font-weight: bold; display: block; }*/
#slider1 .pager a { 

	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(../../../../all/themes/uw2010/images/pagination.png);
	background-position: 0 0;
	float: right;
	overflow: hidden;

 }
#slider1 .pager a.active { 
	background-position: 0 -13px;
	
}
#slider1 .pager a:hover { 
	background-position: 0 -26px;
	
}

#slider1 .slide-title {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 50;
	padding: 10px 1%;
	color: #FFFFFF;
	text-transform: none;
	background: #000000;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
	width: 96%;
	border-radius: 0;
	opacity: 0.5;
}
